<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
                type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="QPharma.Properties.DevDatabase" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="QPharma.Properties.Dev___Database" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="QPharma.Properties.Production"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false" />
			<section name="QPharma.Properties.Development"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false" />
			<section name="ProjectXML.Properties.Production"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false" />
			<section name="ProjectXML.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings"
                type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="QPharma.Properties.DevDatabase" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="QPharma.Properties.Dev___Database" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="QPharma.Properties.Development" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="QPharma.Properties.Production" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="ProjectXML.Properties.Settings1"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<applicationSettings>
		<QPharma.Properties.DevDatabase>
   <setting name="SessionDurationMinute" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="TimeFormat" serializeAs="String">
    <value>HH:mm:ss</value>
   </setting>
   <setting name="MaxNameLength" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="MinAge" serializeAs="String">
    <value>18</value>
   </setting>
   <setting name="DefaultDate" serializeAs="String">
    <value>2000-01-01</value>
   </setting>
   <setting name="OpacityIncrement" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="DelayTimerSplash" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LocalResource" serializeAs="String">
    <value>QPharma</value>
   </setting>
   <setting name="ImageFolderName" serializeAs="String">
    <value>Images</value>
   </setting>
   <setting name="DBFile" serializeAs="String">
    <value>QPharma.mdf</value>
   </setting>
  </QPharma.Properties.DevDatabase>
  <QPharma.Properties.Dev___Database>
   <setting name="SessionDurationMinute" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="TimeFormat" serializeAs="String">
    <value>HH:mm:ss</value>
   </setting>
   <setting name="MaxNameLength" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="MinAge" serializeAs="String">
    <value>18</value>
   </setting>
   <setting name="DefaultDate" serializeAs="String">
    <value>2000-01-01</value>
   </setting>
   <setting name="OpacityIncrement" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="DelayTimerSplash" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LocalResource" serializeAs="String">
    <value>QPharma</value>
   </setting>
   <setting name="ImageFolderName" serializeAs="String">
    <value>Images</value>
   </setting>
   <setting name="DBFile" serializeAs="String">
    <value>QPharma.mdf</value>
   </setting>
  </QPharma.Properties.Dev___Database>
  <QPharma.Properties.Production>
   <setting name="SessionDurationMinute" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="TimeFormat" serializeAs="String">
    <value>HH:mm:ss</value>
   </setting>
   <setting name="MaxNameLength" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="MinAge" serializeAs="String">
    <value>18</value>
   </setting>
   <setting name="DefaultDate" serializeAs="String">
    <value>2000-01-01</value>
   </setting>
   <setting name="OpacityIncrement" serializeAs="String">
    <value>0.05</value>
   </setting>
   <setting name="DelayTimerSplash" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="LocalResource" serializeAs="String">
    <value>QPharma</value>
   </setting>
   <setting name="ImageFolderName" serializeAs="String">
    <value>Images</value>
   </setting>
   <setting name="DBFile" serializeAs="String">
    <value>QPharma10.mdf</value>
   </setting>
  </QPharma.Properties.Production>
		<QPharma.Properties.Development>
   <setting name="SessionDurationMinute" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="TimeFormat" serializeAs="String">
    <value>HH:mm:ss</value>
   </setting>
   <setting name="MaxNameLength" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="MinAge" serializeAs="String">
    <value>18</value>
   </setting>
   <setting name="DefaultDate" serializeAs="String">
    <value>2000-01-01</value>
   </setting>
   <setting name="OpacityIncrement" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="DelayTimerSplash" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LocalResource" serializeAs="String">
    <value>QPharma</value>
   </setting>
   <setting name="ImageFolderName" serializeAs="String">
    <value>Images</value>
   </setting>
   <setting name="DBFile" serializeAs="String">
    <value>QPharma.mdf</value>
   </setting>
  </QPharma.Properties.Development>
		<ProjectXML.Properties.Production>
			<setting name="xinchao" serializeAs="String">
				<value>12</value>
			</setting>
			<setting name="ConnectionString" serializeAs="String">
				<value>12</value>
			</setting>
		</ProjectXML.Properties.Production>
		<ProjectXML.Properties.Settings>
			<setting name="ConnectionString" serializeAs="String">
				<value>Data Source=LONGPC\SQLEXPRESS;Initial Catalog=QlyHieuThuoc;Integrated Security=True</value>
			</setting>
			<setting name="SessionDurationMinute" serializeAs="String">
				<value>60</value>
			</setting>
		</ProjectXML.Properties.Settings>
	</applicationSettings>
	<userSettings>
  <QPharma.Properties.DevDatabase>
   <setting name="ConnectionString" serializeAs="String">
    <value>Data Source=LONGPC\SQLEXPRESS;Initial Catalog=QPharma;Integrated Security=True;Encrypt=False;Connect Timeout=10</value>
   </setting>
  </QPharma.Properties.DevDatabase>
  <QPharma.Properties.Dev___Database>
   <setting name="ConnectionString" serializeAs="String">
    <value>Data Source=LONGPC\SQLEXPRESS;Initial Catalog=QPharma;Integrated Security=True;Encrypt=False</value>
   </setting>
  </QPharma.Properties.Dev___Database>
  <QPharma.Properties.Development>
   <setting name="ConnectionString" serializeAs="String">
    <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename={0};Integrated Security=True;Connect Timeout=10</value>
   </setting>
  </QPharma.Properties.Development>
  <QPharma.Properties.Production>
   <setting name="ConnectionString" serializeAs="String">
    <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename={0};Integrated Security=True;Connect Timeout=10</value>
   </setting>
  </QPharma.Properties.Production>
  <ProjectXML.Properties.Settings1>
			<setting name="xinchao" serializeAs="String">
				<value>12</value>
			</setting>
		</ProjectXML.Properties.Settings1>
	</userSettings>
</configuration>